/*
 *  App.scss
 *  tower-staff
 *
 *  Created by Jean-Pierre Höhmann on 2023-03-06.
 */

header > img {
  height: 100%;
}

.screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#launch-screen {
  z-index: -1;
}

#call-screen {
  z-index: -2;
}
