/*
 *  App.scss
 *  tower-assist
 *
 *  Created by Jean-Pierre Höhmann on 2023-03-06.
 */

@use '../Styles/colors';

.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
