//
//  CallScreen.scss
//  tower-staff
//
//  Created by Jean-Pierre Höhmann on 2023-04-25.
//
//

#call-screen {

  &[hidden] {
    display: block;
  }

  main > * {
    background-color: black;
    color: lightgrey;
    position: absolute;
    width: 40vw;
    height: 100vh;
    left: 30vw;
    top: 0;
  }

  main.maximized > * {
    width: 100vw;
    left: 0;
  }

  main > #video-container {
    transform-origin: center;
  }

  main > #video-container.rotation-90,
  main > #video-container.rotation-270,
  main > #video-container.rotation-450 {
    width: 100vh;
    height: 40vw;
    top: calc(50vh - 20vw);
    left: calc(50vw - 50vh);
    transform: rotate(90deg);
  }

  main.maximized > #video-container.rotation-90,
  main.maximized > #video-container.rotation-270,
  main.maximized > #video-container.rotation-450 {
    height: 100vw;
    top: calc(50vh - 50vw);
  }

  main > #video-container.rotation-180 {
    transform: rotate(180deg);
  }

  main > #video-container.rotation-270 {
    transform: rotate(270deg);
  }

  main > #video-container.rotation-360 {
    transform: rotate(360deg);
  }

  main > #video-container.rotation-450 {
    transform: rotate(450deg);
  }

  main > #video-container.rotation-540 {
    transform: rotate(540deg);
  }

  #no-video-indicator > svg,
  #hold-indicator > svg,
  #loading-indicator > div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #no-video-indicator > svg,
  #hold-indicator > svg {
    height: 100px;
  }

  #no-video-indicator > svg,
  #hold-indicator > svg,
  #loading-indicator > div {
    top: 50vh;
  }

  video.inactive {
    background: transparent;
  }

  video.active {
    background: black;
  }

  main.maximized video {
    object-fit: cover!important;
  }

  #hangup-button {
    background-color: red;
    color: white;
    width: initial;
  }

  #hangup-button .spinner-container {
    display: inline-block;
    width: 13.3px;
    height: 13.3px;
    transform: scale(13.3%);
    transform-origin: top left;
  }

  #right-aside > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  #right-aside > img {
    object-position: center;
    object-fit: cover;
  }

}

@media (prefers-reduced-motion: no-preference) {
  #video-container {
    transition-property: top, left, width, height, transform;
    transition-duration: 400ms;
  }
}
