//
//  CallScreen.scss
//  tower-staff
//
//  Created by Jean-Pierre Höhmann on 2023-04-25.
//
//

@use "../Styles/_colors.scss";

#call-screen {

  &[hidden] {
    display: block;
  }

  #remote-video-container > * {
    background-color: black;
    color: lightgrey;
    position: absolute;
    width: 40vw;
    height: 100vh;
    left: 30vw;
    top: 0;
  }

  #remote-video-container.maximized > * {
    width: 100vw;
    left: 0;
  }

  #no-video-indicator > svg,
  #hold-indicator > svg,
  #loading-indicator > div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #no-video-indicator > svg,
  #hold-indicator > svg {
    height: 100px;
  }

  #no-video-indicator > svg,
  #loading-indicator > div {
    top: 50vh;
  }

  #hold-indicator > svg {
    top: 12.5vh;
  }

  video.inactive {
    background: transparent;
  }

  video.active {
    background: black;
  }

  #remote-video-container.maximized video {
    object-fit: cover!important;
  }

  footer button {
    margin: 0 6.666px;
    width: 40px;
    height: 40px;
  }

  button:first-child {
    margin-left: 0;
  }

  button:last-child {
    margin-right: 0;
  }

  #hangup-button {
    background-color: red;
    color: white;
    width: initial;
  }

  #left-aside img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: none;
  }

  #right-aside img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

}
