//
//  CallOptionsDialog.scss
//  tower-staff
//
//
//

#call-options-dialog {

  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .dropdown {
    margin-bottom: 1rem;
  }

  button {
    float: right;
  }

}
