//
//  LaunchScreen.scss
//  tower-staff
//
//  Created by Jean-Pierre Höhmann on 2023-04-25.
//
//

@use '../Styles/colors';

#launch-screen {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  top: 0;

  &[hidden] {
    display: flex;
    top: -100vh;
  }

  .launch-screen-logo {
    height: 40vmin;
    pointer-events: none;
  }

  h1 {
    font-family: "Dolce Vita", sans-serif;
    font-size: 12.5vmin;
    margin: 16px 0 0;
  }

  p {
    margin: 16px 0;
  }

}

@media (prefers-reduced-motion: no-preference) {
  #launch-screen {
    transition: top 400ms ease-in;
  }
}
