//
//  MapComponent.scss
//  tower-staff
//
//  Copyright © 2025 valo.media GmbH. All rights reserved.
//

.map {
  overflow: hidden;

  img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

}
