/*
 *  error-page.scss
 *  tower-staff
 *
 *  Created by Jean-Pierre Höhmann on 2024-08-22.
 *  Copyright © 2024 valo.media GmbH. All rights reserved.
 */

.error-page {
  margin: auto;
  max-width: 320px;
  padding: 8px;
}
