/*
 *  index.scss
 *  tower-assist
 *
 *  Created by Jean-Pierre Höhmann on 2023-03-06.
 */

@use "Styles/_fonts.scss";

//noinspection ALL
@import-normalize;


body {
    margin: 0;
    font-family:
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            'Roboto',
            'Oxygen',
            'Ubuntu',
            'Cantarell',
            'Fira Sans',
            'Droid Sans',
            'Helvetica Neue',
            sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
            source-code-pro,
            Menlo,
            Monaco,
            Consolas,
            'Courier New',
            monospace;
}

header, footer {
  position: fixed;
  background-size: cover;
  height: 3em;
  padding: .5em;
}

header {
  background-image: url('Assets/header.svg');

  /* .5em + (3em+2*.5em)*tan(1/6*pi) */
  padding-right: 2.80940108em;
}

footer {
  bottom: 0;
  right: 0;
  background-image: url('Assets/footer.svg');

  /* .5em + (3em+2*.5em)*tan(1/6*pi) */
  padding-left: 2.80940108em;
}
