/*
 *  index.scss
 *  tower-assist
 *
 *  Created by Jean-Pierre Höhmann on 2023-03-06.
 */

//noinspection ALL
@import-normalize;

body {
    margin: 0;
    font-family:
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            'Roboto',
            'Oxygen',
            'Ubuntu',
            'Cantarell',
            'Fira Sans',
            'Droid Sans',
            'Helvetica Neue',
            sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
            source-code-pro,
            Menlo,
            Monaco,
            Consolas,
            'Courier New',
            monospace;
}
